apiVersion: apps/v1
kind: Deployment
metadata:
    namespace: {{ k8ses_namespace }}
    name: kibana
    labels:
    app: kibana
spec:
    replicas: 1
    selector:
    matchLabels:
        app: kibana
    template:
    metadata:
        labels:
        app: kibana
    spec:
        containers:
        - name: kibana
            image: "{{ k8ses_kibana_image }}:{{ k8ses_kibana_image_tag }}"
            ports:
            - containerPort: 5601
            env:
            - name: SERVER_NAME
                valueFrom:
                fieldRef:
                    fieldPath: metadata.name
            - name: SERVER_HOST
                value: "0.0.0.0"
            - name: ELASTICSEARCH_HOSTS
                value: http://es.{{ k8ses_namespace }}.svc.cluster.local:9200
